.key {
  background-repeat: no-repeat;
  @media #{$max-mobile-width} {
    background-position: center 0;
    background-size: 100% auto;
    background-image: url("/img/key__bg--mobile.jpg");
  }
  @media #{$min-tablet-width} {
    background-position: center;
    background-size: cover;
    background-image: url("/img/key__bg--desktop.jpg");
  }
  .key__wrapper {
    @include section-width;
    @include paddings;
    @include centers;
    @media #{$max-mobile-width} {
      padding-top: 22px;
      padding-bottom: 10px;
    }
    @media #{$min-tablet-width} {
      padding-top: 38px;
      padding-bottom: 42px;
    }
    @media #{$min-desktop-width} {
      padding-top: 55px;
      padding-bottom: 60px;
    }
  }
  .key__title {
    @include common-title;
    text-align: center;
    letter-spacing: 1.4px;
    @media #{$min-desktop-width} {
      letter-spacing: 2px;
    }
  }
  .key__description {
    font-size: 18px;
    line-height: 29.7px;
    text-align: center;
    margin-bottom: 0;
    letter-spacing: .5px;
    @media #{$max-mobile-width} {
      margin-top: 13px;
    }
    @media #{$min-tablet-width} {
      margin-top: 21px;
    }
    @media #{$min-desktop-width} {
      margin-top: 30px;
      font-size: 24px;
      line-height: 39.6px
    }
  }
  .key__subtitle {
    font-family: $font--alt;
    font-size: 36px;
    line-height: 48px;
    display: block;
    text-align: center;
    letter-spacing: 1px;
    @media #{$max-mobile-width} {
      margin-top: 20px;
    }
    @media #{$min-tablet-width} {
      margin-top: 21px;
    }
    @media #{$min-desktop-width} {
      margin-top: 30px;
    }
  }
  .key__list {
    padding-left: 0;
    margin-bottom: 0;
    @media #{$min-tablet-width} {
      display: flex;
      justify-content: space-between;
      margin-top: 28px;
    }
    @media #{$min-desktop-width} {
      margin-top: 40px;
    }
  }
  .key__item {
    border: 1px solid #B6A188;
    border-radius: 3px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-right: 20px;
    @media #{$max-mobile-width} {
      padding-left: 65px;
      padding-top: 28px;
      padding-bottom: 28px;
    }
    @media #{$min-tablet-width} {
      padding-left: 40px;
      width: 30%;
      flex-grow: 1;
      padding-top: 21px;
      padding-bottom: 14px;
    }
    @media #{$min-desktop-width} {
      padding-left: 57px;
      padding-top: 30px;
      padding-bottom: 20px;
    }
    &:nth-child(1) {
      background-image: url("/img/key__utp-bg--1.jpg");
    }
    &:nth-child(2) {
      background-image: url("/img/key__utp-bg--2.jpg");
    }
    &:nth-child(3) {
      background-image: url("/img/key__utp-bg--3.jpg");
    }
    &:not(:first-child) {
      @media #{$max-mobile-width} {
        margin-top: 10px;
      }
    }
    &:not(:last-child) {
      @media #{$min-tablet-width} {
        margin-right: 20px;
      }
      @media #{$min-desktop-width} {
        margin-right: 29px;
      }
    }
  }
  .key__item-title {
    font-family: $font--alt;
    font-size: 24px;
    letter-spacing: .8px;
    line-height: 32px;
  }
  .key__item-text {
    font-size: 15px;
    letter-spacing: .4px;
    line-height: 22.5px;
    margin-bottom: 0;
    @media #{$max-mobile-width} {
      margin-top: 20px;
    }
  }
}