.map {
  .map__wrapper {
    @include section-width;
    @include centers;
    @include paddings;
    position: relative;
    z-index: 3;
    &::after {
      @media #{$min-tablet-width} {
        position: absolute;
        content: "";
        left: -9900px;
        top: 0;
        width: 10000px;
        height: 400px;
        background-color: $bg--main;
      }
      @media #{$min-desktop-width} {
        height: 490px;
      }
    }
  }
  .map__container {
    @media #{$max-mobile-width} {
      padding-top: 20px;
      padding-bottom: 20px;
    }
    @media #{$min-tablet-width} {
      position: absolute;
      z-index: 4;
      background-color: #fff;
      width: 266px;
      height: 400px;
      padding-top: 61px;
      padding-left: 4px;
      padding-right: 10px;
      padding-bottom: 10px;
    }
    @media #{$min-desktop-width} {
      width: 380px;
      height: 490px;
      padding-top: 87px;
      padding-left: 5px;
    }
  }
  .map__map {
    @media #{$max-mobile-width} {
      display: none;
    }
    @media #{$min-tablet-width} {
      width: 100%;
      height: 400px;
    }
    @media #{$min-desktop-width} {
      height: 490px;
    }
  }
  .map__title {
    display: block;
    font-size: 36px;
    font-family: $font--alt;
    letter-spacing: 2px;
  }
  .map__phone-text {
    display: block;
    font-size: 18px;
    color: $color--alt;
    font-weight: 700;
    letter-spacing: 1px;
    @media #{$max-mobile-width} {
      margin-top: 15px;
    }
    @media #{$min-tablet-width} {
      margin-top: 28px;
      margin-bottom: 24px;
    }
    @media #{$min-desktop-width} {
      margin-top: 40px;
      margin-bottom: 35px;
    }
  }
  .map__phone-link {
    color: $color--alt;
    white-space: nowrap;
  }
  .map__text-container {
    padding-left: 30px;
    background-repeat: no-repeat;
  }
  .map__text-container--mail {
    background-position: left top;
    background-size: 19px auto;
    background-image: url("/img/mail-icon.svg");
  }
  .map__text-container--address {
    background-position: left top;
    background-size: 20px auto;
    background-image: url("/img/address-icon.svg");
  }
  .map__text-container--address {
    background-position: left top;
    background-size: 19px auto;
    background-image: url("/img/time-icon.svg");
  }
  .map__text-title {
    display: block;
    font-weight: 700;
    font-size: 16px;
    margin-top: 20px;
    letter-spacing: 1px;
  }
  .map__text-description {
    letter-spacing: 1px;
    display: block;
    font-size: 16px;
    margin-top: 5px;
  }
}