.team {
  .team__wrapper {
    @include section-width;
    @include paddings;
    @include centers;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .team__title {
    @include common-title;
    text-align: center;
  }
  .team__list {
    padding-left: 0;
    margin-bottom: 0;
    @media #{$min-tablet-width} {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  }
  .team__item {
    @media #{$min-tablet-width} {
      padding: 15px;
      width: 32%;
    }
  }
  .team__item-img-container {
    font-size: 0;
  }
  .team__item-name {
    display: block;
    font-family: $font--alt;
    font-size: 24px;
    position: relative;
    margin-bottom: 10px;
    @media #{$max-mobile-width} {
      text-align: center;
    }
    @media #{$min-desktop-width} {
      font-size: 30px;
    }
    &::after {
      position: absolute;
      content: "";
      width: 69px;
      height: 2px;
      bottom: -2px;
      background-color: #C78B4D;
      @media #{$max-mobile-width} {
        left: 50%;
        transform: translateX(-50%);
      }
      @media #{$min-tablet-width} {
        left: 0;
      }
    }
  }
  .team__item-post {
    display: block;
    @media #{$max-mobile-width} {
      text-align: center;
    }
  }
  .team__item-description {
    display: block;
    font-size: 15px;
    color: #C4C4C4;
    @media #{$max-mobile-width} {
      margin-top: 5px;
      text-align: center;
    }
    @media #{$min-tablet-width} {
      margin-top: 4px;
    }
    @media #{$min-desktop-width} {
      margin-top: 7px;
    }
  }
}